body {
    font-family: Arial,
        sans-serif;
}

#container {
    border: 2px solid purple;
    margin: auto;
    overflow: hidden;
}

.top,
.bottom {
    display: flex;
    justify-content: space-evenly;
}


.header {
    text-align: center;
}

.bookmark {
    float: right;
}

.bookmark img {
    transform: rotate(90deg);
    margin-right: -17px;
    margin-top: -120px;

}

.bookmark1 img {
    float: left;
    transform: rotate(-90deg);
    margin-left: -35px;
    margin-top: -50px;
}

.bookmark2 img {
    float: right;
    transform: rotate(90deg);
    margin-right: -35px;
    margin-top: -45px;

}

.bookmark3 img {
    float: left;
    transform: rotate(-90deg);
    margin-left: -20px;
    margin-bottom: -30px;
}

#box {
    width: 300px;
    border: 15px;
    border-radius: 8px;
    padding: 0px;
    text-align: center;
    margin: auto;
    margin-top: 80px;
    background-color: purple;
    color: white;
}

#para {
    display: flex;
    justify-content: center;
}

#para p {
    font-size: 25px;
    text-align: center;
    width: 60rem;
}

hr {
    border: none;
    height: 3px;
    background: purple;
    background: repeating-linear-gradient(90deg, purple, purple 6px, transparent 6px, transparent 12px);
    width: 600px;
}

.team-section {
    text-align: center;
    margin: 20px;
}

#heading {

    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#box1 {
    width: 360px;
    border: 15px;
    border-radius: 8px;
    padding: 0px;
    margin: auto;
    text-align: center;
    background-color: purple;
    color: white;
}

.team-member {
    display: inline-block;
    width: 200px;
    margin: 10px;
    text-align: center;
}

.team-member img {
    width: 100%;
    border-radius: 50%;
}

.team-member h3 {
    margin: 5px 0;
}

.team-member p {
    margin: 0;
    color: #555;
}

.team-section-1 {
    text-align: center;
    margin: 20px;
}

.team-section-2 {
    text-align: center;
    margin: 20px;
}

#box2 {
    width: 260px;
    border: 15px;
    border-radius: 8px;
    padding: 0px;
    margin: auto;
    text-align: center;
    background-color: purple;
    color: white;
}

#box3 {
    width: 320px;
    border: 15px;
    border-radius: 8px;
    padding: 0px;
    margin: auto;
    text-align: center;
    background-color: purple;
    color: white;
}